img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

footer a {
    color: #0d6efd;
}

.img_hero {
    width: 230px;
}

.bg_lightgray {
    background-color: #3A546D;
}


.gb_gray {
    background-color: #2C3E50
}